/* This is my css style file */

@font-face {
    font-family: "myFont";
    src: url("https://fonts.google.com/specimen/Antonio");
  }

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(196, 227, 238);
    }
  }
.red {
    color: red;
    text-align: center;
    min-width: 50px;
    max-width: 200px;
  }
.green {
    color: hsl(30, 100%, 50%);
    margin: auto;
}
.blue {
    color: rgba(163, 114, 231, 0.6);
}
.hex {
    color: #FFF;
}
#background {
    background: #ffa;
  }
*.tired {
    color:cadetblue;
 }

h1 {
    text-align: center;
    color: red;
    font-family: "myFont";
 }

.wrap {
    font-size: 1em;
}
.wrapper {
    font-size: 1em;
  }

.lh {
    height: 10lh;

}  

.rem{
    font-size: 3rem;
}

.vh{
    height: 10vh;
}

.address{
    height : 10cm;
    width : 100mm;
    font-size: 16px;

    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

a[href^="https"] {
    color: green
}
/* when user press button*/
button:hover {
    color: blue;
  }

h2,h3 {
    color: rgb(115, 42, 117);
    position: static;
  } 
.box1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right :10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: rgb(153, 109, 155);
    border-width: 1px;
    


}

.under {
    text-decoration: underline red;
  }

  span {
      display:block;
  }

  li {
      display:inline;
  }

  .relative {
      position: relative;
      top: 10px; 
      bottom: 10px;
      right: 10px;
      left: 10px;
  }
  a:active { color: orange; } 

  .flex-container {
    display: flex; /* or inline-flex */
    height: 300px;
    flex-flow: row nowrap;
  }
  .flex-child1 {
      width: 40%;
      height: 40%;
      margin: auto;
      flex-grow: 1;
      flex-basis: auto;
  }
  .flex-child2 {
    width: 40%;
    height: 40%;
    margin: auto;
    flex-grow: 1;
}

.grid {
    display:grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: auto;
}
.grid-item1 {
    grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start:2 ;
    grid-row-end: 3;
}

.grid-item2 {
    grid-column-start:4 ;
    grid-column-end: 5;
    grid-row-start:2 ;
    grid-row-end: 3;
}

div div{
    color:pink;
}

div > span {
    background-color: powderblue;
}

p~span {
    color: red
}

video + p {
    color :rebeccapurple
}
p.footer {
    color :saddlebrown;
}